In [1]:
I = 3
J = 3
multiplicated_xy_dict = {i:{j:(i * j) for j in range(J)} for i in range(I)}
print(multiplicated_xy_dict)

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

In [2]:
print(multiplicated_xy_dict[2][2])

4

In [5]:
print('key', 'key2', 'val', sep='\t')
for key1, val1 in multiplicated_xy_dict.items():
    for key2, val2 in val1.items():
        print(key1, key2, val2, sep='\t')

key	key2	val
0	0	0
0	1	0
0	2	0
1	0	0
1	1	1
1	2	2
2	0	0
2	1	2
2	2	4

In [6]:
intdict = {'1': 'one', '2': 'two', '3': 'three'}
for key, val in intdict.items():
    print(key, val)

1 one
2 two
3 three

In [8]:
mountains = ['fuji', 'kitadake', 'okuhodakadake']
for i, mt in enumerate(mountains):
    print(i, mt)

0 fuji
1 kitadake
2 okuhodakadake

In [11]:
order = [1, 2, 3]
mountains = ['fuji', 'kitadake', 'okuhodakadake']
height = [3776, 3193, 3190]
for odr, mt, ht in zip(order, mountains, height):
    print(odr, mt, ht)

1 fuji 3776
2 kitadake 3193
3 okuhodakadake 3190

In [16]:
mountains = ['kitadake', 'okuhodakadake', 'fuji']
for mt in sorted(mountains):
    print(mt)
    
print(mountains)

fuji
kitadake
okuhodakadake
['kitadake', 'okuhodakadake', 'fuji']

In [18]:
mountains = ['fuji', 'kitadake', 'okuhodakadake']
for mt in reversed(mountains):
    print(mt)
    
print(mountains)

okuhodakadake
kitadake
fuji
['fuji', 'kitadake', 'okuhodakadake']

In [21]:
mountain_in_japan = {'kitadake': 3193, 'okuhodaladale': 3190, 'fuji': 3776}
mountain_in_japan_sorted = sorted(mountain_in_japan.items(), key=lambda x:x[0])
print(mountain_in_japan_sorted)
for key, val in mountain_in_japan_sorted:
    print(key, val)

[('fuji', 3776), ('kitadake', 3193), ('okuhodaladale', 3190)]
fuji 3776
kitadake 3193
okuhodaladale 3190

In [22]:
mountain_in_japan = {'kitadake': 3193, 'okuhodaladale': 3190, 'fuji': 3776}
mountain_in_japan_sorted = sorted(mountain_in_japan.items(), key=lambda x:x[1])
for key, val in mountain_in_japan_sorted:
    print(key, val)

okuhodaladale 3190
kitadake 3193
fuji 3776

In [23]:
print(mountain_in_japan_sorted)

[('okuhodaladale', 3190), ('kitadake', 3193), ('fuji', 3776)]

In [24]:
for key, val in reversed(mountain_in_japan_sorted):
    print(key, val)

fuji 3776
kitadake 3193
okuhodaladale 3190

In [28]:
height = [3776, 3193, 3190, None, None]
#print(len(height))
for i in range(len(height)):
    print(i)
    if height[i] is None:
        del height[i]

0
1
2
3
4

IndexError: list index out of range

In [33]:
height = [3776, 3193, 3190, None, None]
used_index = []
for i, ht in enumerate(height):
    used_index.append(i)
    if ht is None:
        del height[i]
print(height)

[3776, 3193, 3190, None]

In [34]:
print(used_index)

[0, 1, 2, 3]

In [40]:
# 例3 安全なやり方1
height = [3776, 3193, 3190, None, None]
for ht in height[:]:        # [3776, 3193, 3190, None, None]
    #print(ht)
    if ht is None:
        height.remove(ht)   # [3776, 3193, 3190, None]  
print(height)

[3776, 3193, 3190]

In [41]:
# 例2 に似た注意するループ
height = [3776, 3193, 3190, None, None]
for ht in height:        # [3776, 3193, 3190, None, None]
    if ht is None:
        height.remove(ht)   # [3776, 3193, 3190, None]  
print(height)

[3776, 3193, 3190, None]

In [43]:
# 例4 安全なやり方2
height = [3776, 3191, 3190, None, None]
height = [ht for ht in height if ht is not None]
print(height)

[3776, 3191, 3190]

In [44]:
[1, 2, 3] == [1, 2, 3]

True

In [45]:
[1, 2, 3] == [1, 2, 3, 4]

False

In [46]:
(0, 1, 2) == (0, 1, 2)

True

In [47]:
(0, 1, 2) == (0, 1, 2, 3)

False

In [50]:
[1, 2, 3] < [1, 2, 3]

False

In [51]:
[1, 2, 3] < [1, 2, 3, 4]

True

In [52]:
'abc' < 'abd'

True

In [53]:
print(ord('c'))
print(ord('d'))

99
100

In [54]:
set([0, 1, 2]) == set([0, 1, 2, 2])

True

In [55]:
set([0, 1, 2]) == set([2, 1, 2, 0])

True

In [56]:
[0, 1, 2] == (0, 1, 2)

False

In [57]:
[0, 1, 2] < (0, 1, 2)

TypeError: '<' not supported between instances of 'list' and 'tuple'

In [61]:
isinstance([0, 1, 2], ())

False

In [62]:
[[1, 2, 3], [4, 5, 6]] < [[1, 2, 3], [4, 0, 10], [5]]

False

In [63]:
[1, 2] < [1, 2, -1]

True

In [64]:
3 < 4 and 4 == 4

True

In [65]:
3 < 4 == 4

True

In [66]:
3 < (4 == 4)

False

In [67]:
3 < True

False

In [68]:
3 < 1

False

In [69]:
4 == 4 == 1

False

In [70]:
(4 == 4) == 1

True

In [71]:
x = 2
1 < x < 3     # 1 < x and x < 3

True

In [72]:
1 < x and x < 3

True

In [73]:
print(1 and 2 and 3)

3

In [74]:
print(bool(1 and 2 and 3))

True

In [75]:
print(1 and 2)

2

In [76]:
print(2 and 1)

1

In [77]:
bool(3)

True

In [78]:
print(0 and 1)

0

In [81]:
x = 2
y = 0
z = 3
print(x and y and z)

0

In [82]:
print(1 or 2 or 3)

1

In [85]:
x = 0
y = 0
z = 3
print(x or y or z)

3