In [5]:
bool(1)

True

In [7]:
bool('a')

True

In [8]:
bool(0)

False

In [9]:
bool('')

False

In [1]:
if 10:
    print(True)

True

In [2]:
if 20:
    print(True)

True

In [11]:
if 'True':
    print(True)

True

In [12]:
if 'False':
    print(True)

True

In [13]:
if 0:
    print(True)
else:
    print(False)

False

In [14]:
if '':
    print(True)
else:
    print(False)

False

In [28]:
a = 1
b = 5
if a < b:
    print(True)
else:
    print(False)

True

In [17]:
b = a
if a == b:
    print(True)
else:
    print(False)

True

In [18]:
if 1 > 2:
    print(True)
else:
    print(False)

False

In [19]:
a = 1
b = 5
if a >= b:
    print(True)
else:
    print(False)

False

In [20]:
b = a
if a != b:
    print(True)
else:
    print(False)

False

In [21]:
if a == b and a <= b:
    print(True)
else:
    print(False)

True

In [22]:
a = 10
if a == b or a > b:
    print(True)
else:
    print(False)

True

In [23]:
if a != b and a <= b:
    print(True)
else:
    print(False)

False

In [26]:
a = 0
if not a:
    print(True)
else:
    print(False)

True

In [29]:
if 'a' in ['a','b','c']:
    print(True)
else:
    print(False)

True

In [30]:
if 10 in [0,1,2,3,4,5]:
    print(True)
else:
    print(False)

False

In [31]:
id(1)

9788608

In [32]:
x=1
id(x)

9788608

In [36]:
if x == 1:
    print(True)

True

In [44]:
my_list1 = [0,1,2]
my_list2 = [0,1,2]
print(id([0,1,2]))
print(id(my_list1))
print(id(my_list2))

139951915506688
139951915507840
139951915508480

In [38]:
if my_list1 == my_list2:
     print(True)
else:
    print(False)

True

In [45]:
if my_list1 is my_list2:
    print(True)
else:
    print(False)

False

In [50]:
a = 30
if a % 15 == 0:
    print('fifteen')
elif a % 3 == 0:
    print('three')
elif a % 5 == 0:
    print('five')
else:
    print('False')

fifteen

In [51]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    print(i)
    
print(my_list)

0
1
2
3
4
5
[0, 1, 2, 3, 4, 5]

In [52]:
my_list = [0,1,2,3,4,5]
for my_list in range(6):
    print(my_list)
    
print(my_list)

0
1
2
3
4
5
5

In [53]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    if i % 2 == 0:
        print(i)

0
2
4

In [57]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    if i % 2 != 0:
        print(i)
    print('test')

test
1
test
test
3
test
test
5
test

In [55]:
my_list = [0,1,2,3,4,5]
for i in my_list[::2]:
    print(i)

0
2
4

In [56]:
my_list = [0,1,2,3,4,5]
for i in my_list[1::2]:
    print(i)

1
3
5

In [63]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    print('数値:'+str(i))
    if i == 3:
        print(i)
        break

数値:0
数値:1
数値:2
数値:3
3

In [61]:
for i in my_list:
    if i != 3:
        print('3以外'+str(i))
        continue
    print(i)

3以外0
3以外1
3以外2
3
3以外4
3以外5

In [64]:
for i in my_list:
    if i != 3:
        print(i)

0
1
2
4
5

In [65]:
for i in my_list:
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [68]:
for i in my_list:
    if i < 3 or i > 3:
        print(i)

0
1
2
4
5

In [69]:
for i in my_list:
    if i >= 2 and i <= 4:
        print(i)

2
3
4

In [70]:
for i in my_list:
    if i < 2 or i > 4:
        continue
    print(i)

2
3
4

In [72]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i == 'okinawa':
        print(i)

okinawa

In [74]:
for i in my_list:
    if i != 'tokyo':
        print(i)

okinawa
osaka
fukuoka
hokkaido

In [77]:
print(len(my_list[0]))
print(len(my_list[1]))
print(len(my_list[2]))

7
5
5

In [78]:
for i in my_list:
    if len(i) >= 6:
        print(i)

okinawa
fukuoka
hokkaido

In [83]:
for i in range(my_len):
    if my_list[i] == 'okinawa':
        print(my_list[i])

okinawa

In [86]:
my_list = [0,1,2,3,4,5]
my_sum = 0
for i in my_list:
    my_sum = my_sum + i
print(my_sum)

15

In [6]:
a = 10
b = 5
if a < k:
    print('1:True')
elif a == b:
    print('2:True')
else:
    print(False)

NameError: name 'k' is not defined

In [7]:
for k in [0,1,2,3,4,5]:
    print(k)

0
1
2
3
4
5

In [8]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    print(k)

0
1
2
3
4
5

In [9]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if k % 2 == 0:
        print(k)

0
2
4

In [10]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if k % 2 == 1:
        print(k)

1
3
5

In [11]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if k == 3:
        print(k)

3

In [12]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if k != 3:
        print(k)

0
1
2
4
5

In [14]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if k == 3:
        print(k)
        break

3

In [16]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if k == 3:
        continue
    print(k)

0
1
2
4
5

In [18]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if 2 <= k and k <= 4:
        print(k)

2
3
4

In [19]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if 2 > k or k > 4:
        continue
    print(k)

2
3
4

In [20]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i == 'okinawa':
        print(i)

okinawa

In [21]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i != 'tokyo':
        print(i)

okinawa
osaka
fukuoka
hokkaido

In [22]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if len(i) >= 6:
        print(i)

okinawa
fukuoka
hokkaido

In [24]:
my_list = [0,1,2,3,4,5]
my_sum =0
for k in my_list:
    my_sum = my_sum + k
print(my_sum)

15

In [25]:
my_list = [0,1,2,3,4,5]
my_sum =0
for k in my_list:
    if k % 2 == 0:
        my_sum = my_sum + k
print(my_sum)

6

In [28]:
for k in range(11):
    print(k)

0
1
2
3
4
5
6
7
8
9
10

In [29]:
for k in range(11):
    if k == 4:
        break
    print(k)

0
1
2
3

In [30]:
for k in range(11):
    if k != 3:
        continue
    print(k)

3

In [31]:
my_str = 'okinawa'
for k in my_str:
    print(k)

o
k
i
n
a
w
a

In [33]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for k in my_list:
    print(k.upper())

OKINAWA
TOKYO
OSAKA
FUKUOKA
HOKKAIDO

In [38]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for my_str in my_list:
    for my_cha in my_str:
        print(my_cha)

o
k
i
n
a
w
a
t
o
k
y
o
o
s
a
k
a
f
u
k
u
o
k
a
h
o
k
k
a
i
d
o

In [39]:
a = 0
while a < 10:
    print(a)
    a = a + 1

0
1
2
3
4
5
6
7
8
9

In [41]:
a = 0
while a < 10:
    if a % 2 == 0:
        print(a)
    a = a + 1

0
2
4
6
8

In [42]:
f = open('Hello.txt','w')
f.write('Hello!!')
f.close()

In [43]:
f = open('Hello.txt','r')
print(f.read())
f.close()

Hello!!

In [46]:
with open('HelloPython.txt','w') as f:
    f.write('Hello Python!')

In [47]:
with open('HelloPython.txt','r') as f:
    print(f.read())

Hello Python!